# 排除 DLL 與模擬器大檔
*.dll
Android/*/emulator/
Android/**/build/
Android/**/.gradle/


Android/0708/emulator/

*.dll

# 忽略 Windows 執行檔
*.exe

# Java 常見
*.class

# 編譯輸出資料夾（建議）
/target/
/bin/
/out/

# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# IntelliJ
.idea/
*.iml

# Eclipse
.classpath
.project
.settings/

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Compiled
*.class

# Build
build/

# Kotlin
.kotlin/

# 不要忽略 Java（很重要）
# *.java  ❌ 千萬不要寫
# Android
#Android/


# Android Studio
**/.gradle/
**/.idea/
**/build/
**/app/build/
local.properties

# Kotlin
.kotlin/

# APK
*.apk

# AAB
*.aab




#---
# Android Studio
.idea/
.gradle/
local.properties

# Build
build/
app/build/

# Emulator
*.avd
Android/**/emulator/
單晶片/1010/HT66F2390HomeWork/06單晶片微控制器作業報告.docx
Android/0724/06_鄭立強/06_鄭立強_Android_Ex2.docx
Android/0724/06_鄭立強/06_鄭立強_Android_Ex1.mp4
Android/0722/06_鄭立強/06_鄭立強_Android_Ex1.mp4
Android/0722/06_鄭立強/06_鄭立強_Android_Ex1.docx
Android/0724/06_鄭立強/~$_鄭立強_Android_Ex2.docx
單晶片/1010/HT66F2390HomeWork/~$片微控制器作業---報告範本 (06).docx
