<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        h1{
            color: rgb(104, 68, 163);
            text-align: center;
            font-size: 36px;
        }
        h2{
            color:red;
            text-align: center;
            font-size: 18px;
        }
    </style>


</head>
<body>
    <h1>歡迎光臨：{{ username }}</h1>
    <h2>現在時間：{{ now }}</h2>
    <!-- 西元/月/日 時:分秒 -->
    <h2>現在時間：{{ now|date:"Y/m/d H:i:s" }}</h2>
    
</body>
</html>